* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[aria-label="navbar"] {
  background-color: #000;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  height: 10vh;
  font-family: "Poppins";
}

.navbar .logo {
  height: 40px;
}

.navbar .line {
  border-right: 1px solid #fff;
  padding: 1.4em 0 1.4em 3em;
}

.navbar .grow-list {
  flex: 1;
}

.grow-list .list {
  display: flex;
}

.grow-list .list-item {
  list-style-type: none;
  color: #fff;
  margin: 0 0 0 3em;
}

.navbar .button-small {
  background: transparent;
  color: #fff;
  font-family: "Montserrat";
  padding: .5em 1.5em;
  background-color: #ba0cc5;
  border: none;
  border-radius: 0.3em;
}

.hero {
  background: url(./assets/bg.png) no-repeat;
  height: 90vh;
  width: 100vw;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
}

.hero .hero-heading,
.hero-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  align-items: center;
}

.hero .hero-heading {
  position: absolute;
  top: 20vh;
  left: 20vw;
  right: 20vw;
  font-size: 4em;
  font-family: "Montserrat";
}

.hero .hero-description {
  position: absolute;
  top: 45vh;
  left: 30vw;
  font-size: 1.4em;
  font-family: "Montserrat";
}
.hero .button-large {
  position: absolute;
  left: 38vw;
  right: 38vw;
  bottom: 25vh;
  background: transparent;
  background-color: #ba0cc5;
  border: none;
  padding: 0.8em 1.5em;
  font-size: 1.2em;
  text-align: center;
  font-family: "Montserrat";
  color: #fff;
  border-radius: 0.5em;
}
