*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* Header Section */

.header{
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuItems, .rightSideMenuItems{
    color: #fff;
    display: flex;
}

.rightSideMenuItems li, .menuItems li{
    list-style: none;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero Section */

.Hero{
    display: flex;
    flex-direction: row;
    background-color: #000;
    height: 700px;
}

.heroLeft{
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
    margin: 0 0 0 7%;
    top: 7%;
}

.heroLeft h1{
    font-size: 4.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.heroLeft h1 span{
    color: #f637ec;
}

.heroLeft h2{
    position: relative;
    top: 11%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #6d6d6d;
}

.heroLeft h3{
    position: relative;
    top: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info{
    display: flex;
    position: relative;
    top: 40%;
}

.activeUsers{
    display: flex;
}

.yearsOfExperience{
    display: flex;
    margin: 0 0 0 20px;
}

.activeUsers .yearsOfExperience,
i {
    color: #f637ec;
}

.info h2{
    color: #fff;
    font-size: 3rem;
}

.info-text p{
    margin: 10px 0 0 30px;
}

.backCards{
    height: 600px;
    position: absolute;
    top: -16%;
    left: 42%;
}

.frontCards{
    height: 600px;
    position: absolute;
    top: -7%;
    left: 66%;
}